<div class="container">
  <h2 class="heading">COMPLAINTS</h2>
  <a class="link" routerLink="/tracker" >
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>
  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>
  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-primary">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>

  <a class="link" routerLink="/tracker">
    <div class="alert alert-warning">
      THIS IS SAMPLE COMPLAINT..
    </div>
  </a>
</div>