.navbar {
    /* background-color: #17a2b8; */
    background-color: mediumseagreen;
}

.nav-link{
    color: aliceblue !important;    
}

.welcome{
    color: aliceblue !important; 
    text-align: left;
    /*font-size: 1rem !important;
    font-weight: bold;*/
    font-style: italic;
    padding-right: 5px;
    padding-left: 5px;
}
