<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Report an issue</h2>
            <sub>Please report an authentic issue to retain credebility</sub>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                            </div>
                            <div class="group">
                                OR
                            </div>
                            <div class="form-group">
                                <label for="phone">
                                    Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="9876543210" required="required" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subject">
                                    Subject</label>
                                <textarea class="form-control" id="subject" rows="1" placeholder="Please specify a subject" required="required" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    Issue Description</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Please summarise the issue here..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn button" id="btnContactUs">
                                Report</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>