<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Please Login</h2>
            <sub>You can login with email or phone number</sub>
            <hr>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form #signinFrom="ngForm" (ngSubmit)="attemptSignin(signinFrom)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">
                                    Email Address</label>
                                <input type="email" ngModel class="form-control" name="emailAddress" id="email" placeholder="Enter email" />
                            </div>
                            <div class="group">
                                OR
                            </div>
                            <div class="form-group">
                                <label for="phone">
                                    Phone</label>
                                <input type="text" ngModel class="form-control" id="phone" name="mobileNo" placeholder="9876543210" />
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    password</label>
                                <input type="password" ngModel class="form-control" id="password" name="password" placeholder="password" />
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn button" id="btnSignin">
                                sign-in</button>
                        </div>
                         <div class="col-md-6">
                            <a class="link" (click)="clearStyleOfSignIn()"routerLink="/password" id="forgotpassword">
                                forgot password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-danger></app-danger>
<app-warning></app-warning>
<app-success></app-success>