<div class="container">

    <div class="row my-4">
      <div style="text-align:center" class="col-lg-8">
        <img class="img-fluid rounded" src="/assets/img/logo.png" alt="Welcome to Zdesk">
      </div>

      <div class="col-lg-4">
        <h1>Make a difference</h1>
        <p>
          This is an open source platform which is created to help the society in order to resolve any issue.
          We will try to do our best to inform the authorities so that an appropreate action can be taken ASAP.
        </p>
        <a class="btn btn-primary btn-lg" href="#">About Us</a>
      </div>

    </div>

    <div class="card my-4 text-center">
      <div class="card-body">
        <p class="m-0" style="color:red;">A platform to report any issue which needs an involvement of authorities!</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">How it Works?</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">What we need?</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Terms & Conditions</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
